p{
    color: red;
}
h2{
    color: navy;
    font-size: larger;
}
img{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 300px;
    height: 300px;
    margin: 0 auto;
}